<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.practicefromandroiddev">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.PracticeFromAndroidDev">
        <activity android:name=".ImplicitIntentsActivity"></activity>
        <activity android:name=".CounterActivity" />
        <activity android:name=".CounterHelloActivity" />
        <activity android:name=".TextActivity" />
        <activity android:name=".ChuseTextActivity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".TwoActivity" />
        <activity android:name=".ScrollAcrivity" />
        <activity android:name=".HelloToastRelActivity" />
        <activity android:name=".HelloToastLinearActivity" />
        <activity android:name=".HelloToastActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>